
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Record</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>*@
</head>
<body>
    @Scripts.Render("~/bundles/js")
    <!-- Header -->
    <header id="header" class="skels-layers-fixed">
        <h1><strong><a href="index.html">HAIRDRESSER'S</a></strong> in Lviv</h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="container">
            <header class="major special">
                <br />
                <br />
                <h2>Графік занятості наших майстрів</h2>
                <p>Слідкуйте за оновленнями </p>
            </header>
            <!-- Text -->
            <section>
                <header>
                    <hr />
                    <h4></h4>
                    <blockquote>"Квіти повинні бути без приводу. Щастя має бути справжнім. будинок - теплим. Любов повинна бути взаємною. Погода ... а не має значення, яка погода." <br>Еріх Марія Ремарк</blockquote>
                    <hr />

            </section>
            <!-- Lists -->
            <section>

                <div class="row">
                    <div class="6u 12u$(xsmall)">
                    </div>
                </div>



                <div class="row">
                    <div class="3u 6u(small) 12u$(xsmall)">

                    </div>
                    <div class="3u 6u$(small) 12u$(xsmall)">

                    </div>
                    <div class="3u 6u(small) 12u$(xsmall)">

                    </div>
                    <div class="3u$ 6u$(small) 12u$(xsmall)">

                    </div>
                </div>
            </section>
            <!-- Table -->
            <section>

                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 2</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item 3</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 4</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item 5</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <h4>Alternate</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 2</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item 3</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 4</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item 5</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
            <!-- Buttons -->
            <section>
                <div class="row">
                    <div class="6u 12u$(xsmall)">

                    </div>
                    <div class="6u$ 12u$(xsmall)">

                    </div>
                </div>
            </section>
            <!-- Form -->
            <section>
                <h3>Для запису заповніть форму :</h3>
                <form method="post" action="#">
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="name" id="name" value="" placeholder="Майстер" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="email" id="email" value="" placeholder="Година" />
                        </div>
                        <div class="12u$">
                            <div class="select-wrapper">
                                <select name="category" id="category">
                                    <option value="">- Тип послуги -</option>
                                    <option value="1">Чоловіча стрижка</option>
                                    <option value="1">Стрижка бороди</option>
                                    <option value="1">Жіноча зачіска</option>
                                    <option value="1">Макіяж</option>
                                </select>
                            </div>
                        </div>
                        <div class="4u 12u$(xsmall)">
                            <input type="radio" id="priority-low" name="priority" checked>
                            <label for="priority-low">Low Priority</label>
                        </div>
                        <div class="4u 12u$(xsmall)">
                            <input type="radio" id="priority-normal" name="priority">
                            <label for="priority-normal">Normal Priority</label>
                        </div>
                        <div class="4u$ 12u$(xsmall)">
                            <input type="radio" id="priority-high" name="priority">
                            <label for="priority-high">High Priority</label>
                        </div>

                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="human" name="human" checked>
                            <label for="human">I am a human and not a robot</label>
                        </div>
                        <div class="12u$">
                            <textarea name="message" id="message" placeholder="Ваші побажання, пропозиції, зауваження" rows="6"></textarea>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Записатись" class="special" /></li>

                            </ul>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
            </ul>

        </div>
    </footer>
</body>
</html>
